export SSH_KEY_NAME="jon@doOS"
export HCLOUD_REGION="fsn1"
export HCLOUD_CONTROL_PLANE_MACHINE_TYPE=cpx31
export HCLOUD_WORKER_MACHINE_TYPE=cpx31
export HCLOUD_TOKEN=

export LOCAL_KUBECONFIG=$(pwd)/kubeconfig
export HETZNER_KUBECONFIG=$(pwd)/kubeconfig.hetzner.yaml
export KUBECONFIG=$HETZNER_KUBECONFIG

source .envrc.local
use flake
